@using X.PagedList.Mvc.Core;
@model ShopListVM
@{
    ViewData["Title"] = "ShopList";
}

<div class="form-group">

    <a asp-action="Add" asp-controller="Shop" class="btn btn-success  mt-3">Add</a>
</div>
<div class="form-group">
    <form class="form-inline my-2 my-lg-0" method="get" asp-action="Search" asp-controller="Shop">

        <select class="custom-select-sm form-control" name="property">
            <option>Name</option>
            <option>Type</option>
            <option>Address</option>
        </select>

        <input class="form-control mr-sm-2 ml-2" type="search" placeholder="საძიებო სიტყვა" aria-label="ძებნა" name="value">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">ძებნა</button>
    </form>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">სახელი</th>
            <th scope="col">ტიპი</th>
            <th scope="col">მისამართი</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Shops)
        {
        <tr>
            <th scope="row">@item.Id</th>
            <td>@item.Name</td>
            <td>@item.Type</td>
            <td>@item.Address</td>
            <td>
                <a asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-warning">Edit</a>
                <a asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-danger">Delete</a>
                <a asp-action="Details" asp-route-Id="@item.Id" class="btn btn-info">Details</a>
            </td>
        </tr>
        }

    </tbody>
</table>

@Html.PagedListPager((X.PagedList.IPagedList)Model.Shops, page => Url.Action("ShopList", "Shop", new { page }))